body {
    background: lightyellow;
}

.thumbnail img {
    width : 100%;
}
.thumbnail {
    padding: 0;
}

#delete-form {
    display: inline;
}

.delete-form {
    display: inline;
}

/* Register class and @Keyframes are for flyin */
.register {
    animation: flyin 1.2s ease forwards;
    opacity: 0;
    transform: scale(2);
    filter: blur(4px);
  }

/* .inlinegroup label {
float: none; /* if you had floats before? otherwise inline-block will behave differently */
display: inline-block;
vertical-align: middle;
}

.inlinegroup input {
float: none; /* if you had floats before? otherwise inline-block will behave differently */
display: inline-block;
vertical-align: middle;      
} */

  /* .inlinegroup {
    display: block;
    width: 100%; // should be contained by a form or something
    margin-bottom: 1rem;
    @media (min-width: 500px) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .label, .input {
      display: block;
      width: 100%;
      border: 1px solid rgba(0,0,0,.1);
      @media (min-width: 500px) {
        width: auto;
        display: flex;
      }
    }
    .label {
      font-size: 13px;
      @media (min-width: 500px) {
        /* margin-right: 1rem; */
        min-width: 100px; // maybe to match many?
      }
    }
    .input {
      padding: .5rem;
      font-size: 16px;
      @media (min-width: 500px) {
        flex-grow: 1;
        max-width: 450px; // arbitrary
      }
    }
  }
   */


  @keyframes flyin {
     to { 
       filter: blur(0);
       transform: scale(1);
       opacity: 1;
     }
  }

  /* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#thumbnail img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
