  <% include ../partials/header %>

    <!-- <div class="container"> -->
      <header class="jumbotron mt-2">
          <div class="container">
            <h1><i class="fas fa-campground"></i> Welcome to YelpCamp!</h1>
            <p>View all our hand-picked campgrounds</p>      
            <p>
              <a class="btn-sm btn-primary" href="/campgrounds/new">Add a new campground</a>
            </p>
            <p>
              <form action="/campgrounds" method="GET" class="form-inline">
                  <div class="form-group">
                      <input type="text" name="vsearch" placeholder="search" class="">
                      <button class="btn-sm btn-primary" type="submit"><i class="fas fa-search"></i></button>
                      <!-- <input type="submit" value="Search" class="btn-sm btn-primary"> -->
                  </div>
              </form>
            </p>
          </div>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <h3>Our Most Popular Campgrounds!</h3>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-4">
        <% pcampgrounds.forEach(function(campground){ %>
          <div class="col mb-4">
              <div id="thumbnail" class="card border-primary h-100 mb-4 register">
                <img class="card-img-top mb-4" src="<%= campground.Image %>">
                <div class="card-body">
                  <div class="card-img-overlay white-color">
                    <h5><%= campground.Name %></h5>
                  </div>
                  <div class="card-text">
                    <div class="fixed-bottom mb-2 ml-2 mt-auto">
                      <% if (campground.rating === 0) { %>
                        <span class="badge badge-info">No reviews yet</span>
                      <% } else { %>
                        <span id="checked"><i class="fas fa-star" style="color:blue"></i></span>
                        <i class=" <% if (campground.rating > 1.5) { %> fas <% } else { %> far <% } %>fa-star" <% if (campground.rating > 1.5) { %> style="color:blue" <% } else { %> style="color:orange" <% } %> > </i>
                        <i class=" <% if (campground.rating > 2.5) { %> fas <% } else { %> far <% } %>fa-star" <% if (campground.rating > 2.5) { %> style="color:blue" <% } else { %> style="color:orange" <% } %> > </i>
                        <i class=" <% if (campground.rating > 3.5) { %> fas <% } else { %> far <% } %>fa-star" <% if (campground.rating > 3.5) { %> style="color:blue" <% } else { %> style="color:orange" <% } %> > </i>
                        <i class=" <% if (campground.rating > 4.5) { %> fas <% } else { %> far <% } %>fa-star" <% if (campground.rating > 4.5) { %> style="color:blue" <% } else { %> style="color:orange" <% } %> > </i>
                      <% } %>
                      <div>
                        <span class="badge badge-info"><i class="fas fa-thumbs-up"></i> <%= campground.likes.length %></span>
                      </div>
                      <a href="/campgrounds/<%= campground._id %>" class="card-link btn btn-primary">More Info</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        <% }); %>
      </div>
    <!-- </div> -->
    
    <% include ../partials/footer %>
